.header-buttonTitle {
    min-height: 15px;
}

.header-container {
    min-height: 110px;
}

.tssBtn {
    min-width: 100px;
    margin-top: 8px;
}

/* Counter spans */

.counter {
    padding: 10px 5px;
    margin: 0;
}

.counter:nth-child(even) {
    background: #d1d1d1;
}

.counter:nth-child(odd) {
    background: #f1f1f1;
}

/* Button width */

.btnList {
    min-width: 80px !important;
}

.btnInvoice {
    min-width: 115px;
}

/* Table rowheight */

.orderTable {
    width: 1850px;
    table-layout: fixed;
    margin-top: 15px;
}

td {
    height: 40px;
}

.note-field {
    text-overflow: ellipse;
}

.db-state {
    width: 90%;
    margin: 0 auto;
}

.tss-hidden {
    display: none;
}

/* Font size classes */
.fontsize-130 {
    font-size: 130%;
}

/* Duplicated name - color : red */
.duplicated {
    color: red;
}

/* Style for the sorting links */

.sort-link {
    text-decoration: none;
    color: #000;
}

.sort-link:visited {
    text-decoration: none;
    color: #000;
}

.sort-link:hover {
    text-decoration: underline;
    color: #000076;
}

.sort-link.active {
    text-decoration: underline;
}

/* Backround color for the rows */

.pending {
    background-color: #D1D1D1;
}

.retail {
    background-color: #FEF7BE;
}

.recommended {
    background-color: #BCE7B2;
}

.coupon {
    background-color: #E2B3FD;
}

.bottom-border {
    border-bottom: 1px solid #bbb;
}

.side-border {
    border-left: 1px solid #bbb;
    border-right: 1px solid #bbb;
}

/* * Custom button styles */
.btn-toolbar {
    text-align: center;
}

.active-link-button {
    background: #8CC743 !important;
}

.active-link-button:hover {
    background: #7eb836 !important;
}

/* * Last updated text style */
.last-updated-text {
    font-style: italic;
}

.last-updated-wrapper {
    margin-top: 15px;
}

/* * Style for the loader */

.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    text-align: center;
}

.loader-wrapper {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.lds-ripple {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
}

.lds-ripple div {
    position: absolute;
    border: 4px solid #fff;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
}

@keyframes lds-ripple {
    0% {
        top: 28px;
        left: 28px;
        width: 0;
        height: 0;
        opacity: 1;
    }

    100% {
        top: -1px;
        left: -1px;
        width: 58px;
        height: 58px;
        opacity: 0;
    }
}